:root {
    --color-gold: #bdae82;
    --color-black: #000;
    --font1: 60px;
    --font2: 40px;
}

/* font -- */
@font-face {
    font-family: Merriweather;
    src: url("assets/fonts/Merriweather/Merriweather-Bold.ttf");
}
@font-face {
    font-family: Inter-Regular;
    src: url("assets/fonts/inter/Inter-Regular.ttf");
    /* font-weight: 400; */
}
@font-face {
    font-family: Inter-Bold;
    src: url("assets/fonts/inter/Inter-Bold.ttf");
    /* font-weight: 700; */
}
/* -- font */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth; 
}
body {
    font-family: 'Inter-Regular', sans-serif;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 20px;
    position: relative;
}
body, html {
    height: 100%;
}
svg {
    fill: #ffffff;
    transition: .3s;
}
svg:hover {
    fill: #bdae82;
}

.container {
    max-width: 1440px; 
    width: 100%;
    margin: 0 auto;
}
footer, header {
    user-select: none;
}

/* btns -- */
.btn-hire-me {
    margin-top: 25px;
    border: 0;
    background-color: #bdae82;
    cursor: pointer;
    font-size: inherit;
    padding: 8px 75px 7px 75px;
    line-height: 40px;
    transition: .3s;
}
.btn-hire-me:hover {
    color: #ffffff;
}
.btn {
    border: 2px solid #BDAE82;
    background-color: transparent;
    cursor: pointer;
    font-family: inherit;
    color: #BDAE82;
    line-height: 40px;
    font-size: 20px;
    width: 220px;
    padding-top: 7px;
    padding-bottom: 5px;
    transition: .3s;
}
.btn:hover {
    color: #ffffff;
}
.btn-active {
    background-color: #BDAE82;
    color: #000;
}
.btn-f {
    border: 0;
    font-size: 21px;
    line-height: 40px;
    width: 220px;
    height: 55px;
    background-color: #BDAE82;
    cursor: pointer;
    transition: .3s;
}
.btn-f:hover {
    color: #ffffff;
}
.price-btn {
    margin-top: 40px;
    margin-bottom: 40px;
}
/* -- btns */

/* header -- */
.header {
    position: absolute;
    width: 100%;
}
.header-container {
    display: flex;
    align-items: center;
    padding: 0 20px;
    background: transparent;
}
.header-container > * {
    padding: 20px 0;
}
.header-logo {
    display: flex;
}
.header-logo-link {
    display: flex;
}
.nav {
    margin-left: auto;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0 15px;
}
.nav-link {
    padding: 0 16px;
    line-height: 50px;
    transition: .3s;
    text-decoration: none; 
    color: #FFFFFF;
}
.nav-link:hover {
    color: #BDAE82;
}
.translate {
    display: flex;
    font-family: 'Inter-Bold', sans-serif;
    line-height: 50px;
}
.tran {
    cursor: pointer;
}
.translate span {
    padding-left: 9px;
    padding-right: 8px;
}
.t-activ {
    color: #BDAE82;
}
.burger {
    display: none;
}
.burger:hover span{
    background-color: #BDAE82;
}
/* -- header */

/* main -- */
h2.section-title {
    font-family: 'Merriweather', serif;
    font-size: 40px;
    line-height: 80px;
    margin-top: 100px;
    position: relative;
    display: flex;
    align-items: center;
    color: #BDAE82;
}
h2.section-title-line:before {
    content: '';
    position: absolute;
    display: block;
    width: 275px;
    height: 2px;
    background-color: #BDAE82;
    left: -295px;
}
h2.section-title-line:after {
    content: '';
    position: absolute;
    display: block;
    width: 275px;
    height: 2px;
    background-color: #BDAE82;
    right: -295px;
}
#portfolio h2.section-title-line:before {
    width: 235px;
    left: -255px;
}
#portfolio h2.section-title-line:after {
    width: 235px;
    right: -255px;
}

/* hero -- */
#hero {
    background-image: url(assets/img/bg.jpg);
    height: 910px;
    background-position: center;
    background-repeat: no-repeat;
}
.section-bg-info {
    width: 580px;
    padding: 250px 0 0 80px;
}
.hero-title {
    font-family: 'Merriweather', serif;
    font-size: 60px;
    line-height: 120px;
}
.hero-text {
    margin-top: 10px;
    margin-right: 30px;
    line-height: 40px;
}
/* -- hero */

/* skill */
#skills, #portfolio, #video, #price {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills-items {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
    width: 100%;
    padding: 0 20px;
}
.skills-item {
    background-position: center top;
    background-repeat: no-repeat;
    width: 320px;
}
.skills-item:nth-child(1) {
    background-image: url('assets/svg/camera.svg');
    background-size: 62px 50px;
}
.skills-item:nth-child(2) {
    background-image: url('assets/svg/video.svg');
    background-size: 60px 50px;
}
.skills-item:nth-child(3) {
    background-image: url('assets/svg/image.svg');
    background-size: 66px 50px;
}
.skills-item:nth-child(4) {
    background-image: url('assets/svg/mic.svg');
    background-size: 32px 50px;
}
.skill-title {
    margin: 100px 20px 20px 20px;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}
.skill-text {
    margin: 0 20px 8px 20px;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
}
/* -- skill */

/* portfolio -- */
#portfolio {
    margin-top: 2px;
}
.portfolio-btns {
    margin-top: 60px;
    display: flex;
    gap: 5px;
}
.portfolio-items {
    margin-top: 60px;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}
/* -- portfolio */

/* video -- */
.player {
    margin-top: 60px;
    padding: 0 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.player img {
    width: 100%;
}
.video-play {
    border: 0;
    background-color: transparent;
    position: absolute;
    display: flex;
    cursor: pointer;
}
/* -- video */

/* price -- */
.price-items {
    margin-top: 60px;
    padding: 0 20px;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}
.price-item {
    border: 3px solid #BDAE82;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price-title {
    font-family: 'Merriweather', serif;
    font-size: 28px;
    line-height: 56px;
    margin-top: 40px;
}
.price {
    margin-top: 20px;
    font-family: 'Merriweather', serif;
    font-size: 24px;
    line-height: 48px;
    color: #BDAE82;
}
.price-description {
    margin-top: 20px;
}
.price-description span {
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 36px;
}
/* -- price */

/* contacts -- */
#contacts {
    margin-top: 100px;
    background-image: url('assets/img/contacts.jpg');
    display: flex;
    justify-content: flex-end;
}
#contacts h2.section-title {
    margin-top: 0;
}
.contacts-container {
    width: 450px;
    display: flex;
    flex-direction: column;
    margin: 60px 20px 195px auto;
}
.contacts-container input {
    padding: 3px 0 3px 18px;
    line-height: 40px;
    background-color: #0000007c;
    border: 2px solid #BDAE82;
    outline: none;
    font-family: inherit;
    color: #bdae82;
    font-size: 20px;
}
.contacts-container input::placeholder, .contacts-container textarea::placeholder {
    font-family: inherit;
    color: #bdae82;
    font-size: 20px;
}
.contacts-container input:focus {
    background-color: #9191913d;
}
.contacts-container input#email {
    margin-top: 40px;
}
.contacts-container input#tel {
    margin-top: 20px;
}
.contacts-container textarea {
    padding-top: 3px;
    padding-left: 18px;
    margin-top: 20px;
    resize: none;
    font-family: inherit;
    color: #bdae82;
    font-size: 20px;
    line-height: 40px;
    background-color: #0000007c;
    outline: none;
    border: 2px solid #BDAE82;
    height: 100px;
}
.contacts-container textarea:focus {
    background-color: #9191913d;
}
.contacts-btn {
    margin-top: 30px;
}
/* -- contacts */
/* -- main */

/* footer -- */
#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    line-height: 50px;
}
.footer-data {
    display: flex;
}
.footer-data > * {
    margin-right: 20px;
}
.footer-link {
    transition: .3s;
    text-decoration: none;
    color: #FFFFFF;
}
.footer-link:hover {
    color: #BDAE82;
}
.social-list {
    display: flex;
    list-style: none;
    gap: 20px;
}
.social-item {
    margin: 9px 0;
    display: flex;
}
.social-link {
    text-decoration: none;
    display: flex;
}
/* -- footer */

/* media -- */
@media (max-width: 1140px){
    .portfolio-btns {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 220px 220px;
    }
}

@media (max-width: 768px) {
    html {
        overflow-x: hidden;
    }
    body {
        position: relative;
        height: auto;
        overflow: hidden;
    }
    .container {
        width: 100%;
        background-image: none;
        background-color: transparent;
    }
    /* header -- */
    .header {
        position: absolute;
        width: 100vw;
    }
    .header-container {
        padding: 0 64px 0 60px;
        position: relative;
    }
    .open-menu {
        overflow: hidden;
    }
    .nav {
        height: calc(100vh + 100px);
        overflow: scroll;
        position: absolute;
        top: 0;
        padding: 0;
        padding-bottom: 30px;
        right: calc((-100% - -148px));
        z-index: 1;
        width: calc(100% - 148px);
        min-height: 100vh;
        background-color: #000;
        transition: .3s;
    }
    .nav.active {
        right: 0;
    }
    .nav.active::after {
        content: ' ';
        width: 148px;
        display: block;
        height: 100vh;
        position: absolute;
        top: 0;
        left: -148px;
        background-color: #000000b0;
        transition: 1s;
    }
    .nav-list {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        margin: 134px 0 0 127px;
        gap: 16px;
    }
    .nav-link {
        padding: 0;
        font-size: 35px;
        line-height: 73px;
    }
    .translate {
        margin-left: auto;
        margin-right: 20px;
    }
    .translate span {
        padding-left: 10px;
        padding-right: 19px;
    }
    .burger {
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 9.5px;
    }
    .burger.active {
        gap: 0;
    }
    .burger.active span:nth-child(1) {
        transform: rotate(45deg) translateX(2px) translateY(3px);
    }
    .burger.active span:nth-child(2) {
        opacity: 0;
    }
    .burger.active span:nth-child(3) {
        transform: rotate( -45deg ) translateX(1px) translateY(-2px);
    }
    .burger span {
        width: 50px;
        height: 3px;
        background-color: white;
        display: block;
        transition: .3s;
    }
    /* -- header */

    /* section title line -- */
    h2.section-title-line:before {
        width: 116px;
        left: -136px;
    }
    h2.section-title-line:after {
        width: 116px;
        right: -136px;
    }
    /* -- section title line  */

    h2.section-title {
        font-size: 32px;
        margin-top: 80px;
        line-height: 80px;
    }
    .btn {
        padding-top: 6px;
    }

    /* hero -- */
    #hero {
        height: 590px;
        background-position: -5px -30px;
        background-size: auto 620px;
    }
    .section-bg-info {
        padding: 168px 0 0 60px;
        width: auto;
    }
    .hero-title {
        font-size: 32px;
        line-height: 64px;
    }
    .hero-text {
        margin-top: 20px;
        line-height: 24.2px;
        width: 390px;
    }
    .btn-hire-me {
        margin-top: 60px;
        padding: 7px 74.5px;
    }
    /* -- hero */

    /* skill -- */
    #skills .section-title {
        margin-top: 95px;
        line-height: 50px;
    }
    .skills-items {
        width: auto;
        margin: 51px 20px 13px 20px;
        padding: 0;
        padding: 9px 40px 27px 40px;
        gap: 36px 44px;
        justify-content: center;
    }
    .skills-item {
        width: 300px;
    }
    .skill-title {
        margin: 80px 10px 20px 10px;
        letter-spacing: 1px;
        font-size: 19px;
    }
    .skill-text {
        margin: 0 10px 40px 10px;
        line-height: 21.78px;
    }
    /* -- skill */

    /* portfolio -- */
    .portfolio-items {
        justify-content: center;
    }
    #portfolio h2.section-title-line:before {
        width: 90px;
        left: -110px;
    }
    #portfolio h2.section-title-line:after {
        width: 89px;
        right: -110px;
    }
    /* -- portfolio */

    /* video -- */
    .player {
        padding: 0;
        margin-top: 50px;
    }
    .video-play svg {
        width: 64px;
        height: 64px;
    }
    /* -- video */

    /* price -- */
    .price-items {
        flex-direction: column;
        gap: 50px;
        margin-top: 50px;
    }
    .price-item {
        width: 420px;
    }
    /* -- price */

    /* contacts -- */
    #contacts h2.section-title {
        line-height: 64px;
        margin: auto;
    }
    #contacts {
        margin-top: 80px;
        justify-content: center;
        background-image: url(assets/img/contacts-t.jpg);
    }
    .contacts-container {
        margin: 60px 0 111px 0;
    }
    .contacts-btn {
        margin: 30px auto 0;
    }
    /* -- contacts */

    /* footer -- */
    #footer {
        flex-direction: column;
        padding: 28px 0;
        line-height: 24px;
        gap: 17px;
    }
    .footer-data {
        gap: 22px;
    }
    .footer-data > * {
        margin: 0;
    }
    /* -- footer */
}

@media (max-width: 619px){
    .header-container {
        padding: 0 30px;
    }
    .nav{
        width: 100%;
        right: -100%;
    }
    .nav-list {
        margin: 90px;
        align-items: center;
    }
    .nav.active::after {
        width: 0;
    }
    .section-bg-info {
        padding-left: 30px;
        padding-right: 30px;
    }

    #hero {
        background-position: center;
    }
    .hero-text {
        max-width: 390px;
        width: 100%;
    }

    .portfolio-btns {
        grid-template-columns: 220px;
        gap: 10px;
    }
    .portfolio-items img {
        width: 90%;
    }

    

    .price-items {
        width: 100%;
        align-items: center;
    }
    .price-item {
        width: 90%;
    }

    .contacts-container {
        width: 90%;
    }
    
}
@media (max-width: 400px) {
    /* section title line -- */
    h2.section-title-line:before {
        width: 60px;
        left: -80px;
    }
    h2.section-title-line:after {
        width: 60px;
        right: -80px;
    }
    #portfolio h2.section-title-line:before {
        width: 60px;
        left: -80px;
    }
    #portfolio h2.section-title-line:after {
        width: 60px;
        right: -80px;
    }
    /* -- section title line  */
}
/* -- media */
